*{
    background-color: rgba(251, 251, 251, 1);}
    body {
        font-family: "Inter", sans-serif;
    }
    
/* navbar */
.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
.logo-nav{
    width: 139px;
    height: 60px;
}
.menu-nav ul{
    display: flex;
    gap: 32px;;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 500;
    font-style: medium;
    line-height: 152%;
    letter-spacing: 0%;
    color:var(--#000000, rgba(0, 0, 0, 1));
}
.menu-nav a{
    text-decoration: none;
    color: black;
}
.nav-btn button{
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
}
/* bannar */
.